<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
  
    <%- include('./partials/nav.ejs')%>

   
    <div class="blog content">
       <h2>About Us</h2>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sed ut magnam at, accusamus asperiores suscipit. Quo optio quisquam rem officia alias. Accusantium, reiciendis velit!</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sed ut magnam at, accusamus asperiores suscipit. Quo optio quisquam rem officia alias. Accusantium, reiciendis velit!</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sed ut magnam at, accusamus asperiores suscipit. Quo optio quisquam rem officia alias. Accusantium, reiciendis velit!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>